<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome Back</p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

<!-- <div class="row mt-3">
    <div class="col-md-3 m-auto"> -->
<div class ="container">
    <div class ="row">
        <div class ="col-md-3">
            <div class="card">
                <img src="https://findicons.com/files/icons/986/aeon/256/add.png" class="card-img-top"
                alt="..."height="250px" width="10px"/>
                <!-- <h1><i class="fab fa-node-js ">Yamii Foods </i></h1> -->
                <p>Add produt to showroom</p>
                <a href="/item/aaa" class="btn btn-success ">Add New</a> 
              </div>
        </div>
        <div class ="col-md-3" >
            <div class="card" >
                <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX3647571.jpg"
                alt="..." height="250px" />
               
                <p>Add employee recrutment</p>
                <a href="/item/aaa" class="btn btn-success ">Request</a> 
              </div>

        </div>
        <div class ="col-md-3">
            <div class="card" >
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSplZeaMeqDI-1XJFFSyO0q12HggAqdFKgU9w&usqp=CAU" class="card-img-top"
                alt="..."height="250px" />
                
                <p>Add new Batiik event</p>
              
                <a href="" class="btn btn-success ">Create Even</a> 
              </div>

        </div>
     
        <div class ="col-md-3">
            <div class="card" >
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2UURrxf4osNpjDONEilRyqWGIXUWxGb9exw&usqp=CAU" class="card-img-top"
                alt="..."height="250px" />
                
                <p>Genarate QR code</p>
              
                <a href="/item/bbb" class="btn btn-success ">Genaratet</a> 
               
              </div>

        </div>
     
    </div>
</div>


<!--     </div>
  </div> -->